.navbar {
  background-color: #407470;
  min-height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 500ms ease;
  backface-visibility: hidden;
  font-family: 'Work Sans', sans-serif;

  .navbar__content-container{
    width: 110rem;
    background-color: #fff;
    padding: 4rem 5rem;
    border-radius: 10px;
    box-shadow: 2px 4px 15px 3px rgba(86,86,86,0.88);
    display: flex;

    flex-direction: column;
  }

  .navbar__image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 10rem;
    border-radius: 50%;
    margin-right: 2.5rem;

    .avatar {
      width: 80px;
      height: 80px;
    }

    
    
    .tool {
      font-size: 10rem;
      transition: all 500ms ease;
    }
  }
  .navbar__info {
    width: 100rem;

    .nav {
      padding: 0.5rem 0;
    }

    .navbar__greeting {
      background-color: inherit;
      border-radius: 5px;
      font-size: 3rem;
      font-weight: 500;
      letter-spacing: 2.5px;

    }

    .navbar__info--header {
      margin-left: 3.5rem;
      width: 100%;
      display: block;
      background-color: inherit;
      border-radius: 5px;
      font-size: 4.75rem;
      font-weight: 800;
      letter-spacing: 2.5px;
    }
    small {
      letter-spacing: 1px;
      font-size: 1rem;
    }
    .navbar__info--paragraph {
      margin-left: 3.5rem;
      background-color: inherit;
      border-radius: 5px;
      font-size: 2.5rem;
      margin-top: 1rem;
      font-weight: 400;
    }
  }

  .navbar__container {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 35%;
    width: 40rem;
    justify-content: space-between;
  }
  .link {
    text-decoration: none;
    color: #fff;
  }
  .active > .btn {
    background: #5c6e91;
    color: #fff;
  }
  .btn {
    text-transform: uppercase;
    font-weight: 500;
    background: #fff;
    display: block;
    padding: 2rem;
    width: 13rem;
    color: #000;
    text-align: center;
    box-shadow:2px 4px 8px -1px #000000;
    cursor: pointer;
    font-size: 1.8rem;
    outline: none;
    border: none;
    overflow: hidden;
    z-index: 1;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1.5px;
    transform: translateY(2rem);
   
  }
  .btn::before {
    content: "";
    background: linear-gradient(to right, #5c6e91 80%, #fff 80%, #fff 90%, #5c6e91 90% );
    width: 0;
    height: 100%;
    top: 0%;
    left: -10px;
    position: absolute;
    z-index: -1;
    transform: translateX(-15px) skewX(-10deg);
    transition: all 0.2s ease;
  }
  .btn{
    border-radius: 5px 0 0 5px;

    &:hover::before {
      width: 150%;
      left: -10px;
      transform: translateX(0) skewX(-10deg);
    }
  }

 
}



@keyframes circleMove {
  0% {
    width: 10rem;
    background: inherit;
  }

  100% {
    width: 0;
    background: inherit;
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    height: 32vh;
  }
}

@media screen and (max-width: 960px) {
  .navbar {
    height: 32vh;
    .navbar__image-container {
      .tool {
        padding-left: 3rem;
      }
    }

    .navbar__info {
      width: 80rem;
      .navbar__greeting {
        font-size: 4.5rem;
      }
      .navbar__info--header {
        font-size: 4.5rem;
      }
    }
  }
}
@media screen and (max-width: 760px) {
  .navbar {
    height: 32vh;

    .navbar__info {
      width: 80rem;
      .navbar__greeting {
        font-size: 3.5rem;
      }
      .navbar__info--header {
        font-size: 3.5rem;
      }
    }
    .navbar__container {
      left: 20%;
      .btn {
        width: 13rem;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .navbar {
    height: 40vh;
    .navbar__image-container {
      .tool {
        padding-left: 1rem;
        font-size: 7.5rem;
      }
    }
    .navbar__info {
      width: 80rem;
      .navbar__greeting {
        font-size: 2.5rem;
      }
      .navbar__info--header {
        font-size: 2.5rem;
      }
      .navbar__info--paragraph {
        font-size: 2rem;
      }
    }
    .navbar__container {
      left: 0%;
      justify-content: center;
      .btn {
        width: 8rem;
        margin-right: 1rem;
        font-size: 1rem;
      }
    }
  }
}
